# DO NOT include azure-functions-worker in this file
# The Python Worker is managed by Azure Functions platform
# Manually managing azure-functions-worker may cause unexpected issues

azure-functions
loguru
psycopg2
psycopg2-binary
binance-futures-connector
requests
pytz
loguru
python-dotenv
numpy
pandas
statsmodels
sqlalchemy
scikit-learn
azure-keyvault-secrets 
azure-identity
sendgrid
azure-storage-blob

